.categories-container {
  min-height: 100vh;
  background-color: #000;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 50px 70px;
}

.categories-left {
  width: 35%;
  display: flex;
  flex-direction: column;
}

.categories-left h1 {
  margin: 0;
  color: #72db73;
  font-size: 3.2rem;
  font-weight: 500;
}

.categories-left h2 {
  margin-top: 60px;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1.25;
}

.selected-categories {
  display: flex;
  flex-wrap: wrap;
  gap: 18px;
  margin-top: 50px;
}

.category-chip {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 18px;
  border-radius: 35px;

  background-color: #148a08;
  color: #fff;

  font-size: 1.1rem;
}

.remove-chip {
  background: transparent;
  border: none;
  cursor: pointer;

  color: #085c00;
  font-size: 1.4rem;
  font-weight: 700;
}

.validation-error {
  margin-top: 35px;

  color: #ff3b3b;
  font-size: 1.1rem;

  display: flex;
  align-items: center;
  gap: 10px;
}

.categories-right {
  width: 58%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.categories-grid {
  display: grid;
  grid-template-columns: repeat(3, 170px);

  justify-content: center;

  column-gap: 24px;
  row-gap: 22px;
}

.next-btn {
  align-self: flex-end;

  width: 180px;
  height: 55px;

  border: none;
  border-radius: 35px;

  background: #148a08;

  color: white;
  font-size: 1.2rem;

  cursor: pointer;
}

.next-btn:hover {
  background-color: #0f7207;
}

.next-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
